<div class="row">
  <div class="col-2">
  <!-- Sidebar -->
  <div class="w3-sidebar  w3-bar-block " style=" border-right:1px solid black;" >
    <img src="../../../../../assets/symbol.png" height="180px" max-width="180px">
    <img src="../../../../../assets/staff.jpg" class="w3-circle" style="width:150px;padding:30px;">
    <p>Student name</p>
    <a href="#"><small style="color:white;margin-left:50px;font-style:underline;"> Edit profile </small></a>
    
   </div>
  </div>
  <div class="col-10">
  <!--Header--->
  <div class="header">
    
    <div class="row" >
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
       Start assessment
      </div>
      <div class="col-sm">
    View test history
  
      </div>
    <div class="col-sm">
       View my attendance
      </div>
      
      <div class="col-sm">
    Logout
    </div>
    
    </div>
   </div>
   <!---horizontalLine--->
  <div class="hline">
  </div>
   
   <!--Heading-->
   <div class="heading">
   <p >Add Student</p>
   </div>
  
  
  
   
   
  </div>
  </div>
  <!---footer---->
  <footer id="Footer">
    <p>Copyright &copy; 2018
    
    <a href="#"><img class="icon" src="../../../../../assets/twitter.png"></a>
    <a href="#"><img class="icon" src="../../../../../assets/insta.png"></a>
    <a href="#"><img  class="icon" src="../../../../../assets/facebook.png"></a>
    
    </p>
    
  </footer>
   
   
   
   
   
   
   
  
  
  