<div class="background">
<div class="container">
  <div style="opacity: 0.8;">
	<div>
	<img src="../../../../assets/symbol.png" height="180px" width="180" style="display:block;margin-left:auto;margin-right:auto;">
	</div>
	<div>
	<h5 style="font-family: Sans-Serif;">Login as:</h5>
	</div>
  </div>	


<div class="row">
	<!--1st card-->
			<div class="card col-sm">  
				<div class="top-section">
					<img src="../../../../assets/dean.jpg" alt="">
				<div class="menuicon">
					<span class="s1"></span>
					<span class="s2"></span>
				</div>
				<div class="name">
					Dean<br><span>Info</span>
				</div>
			</div>
			<div class="info-section">
				<h2>About<div class="border"></div></h2>
				<p>"Dictators ride to and fro upon tigers which they dare not dismount.And the tigers are getting hungry."</p>
				<h2>Contact<div class="border"></div>
				</h2>
				<div class="s-m">
					<a href="" class="fab fa-facebook"></a>
					<a href=""class="fab fa-whatsapp"></a>
					<a href=""class="fab fa-twitter"></a>
				</div>
			</div>
			</div>
			<!--2nd card-->
	
			<div class="card col-sm">
				<div class="card-middle">   
					<div class="top-section">
						<a routerLink="/adminLogin"><img src="../../../../assets/staff.jpg" alt=""></a>
					<div class="menuicon">
					<span class="s1"></span>
					<span class="s2"></span>
					</div>
					<div class="name">
					Principal <br><span>Info</span>
					</div>
				</div>
				<div class="info-section">
					<h2>About
					<div class="border"></div>
					</h2>
					<p>This is also the perfect response to that infernal, “Those who can, do. Those who can’t, teach” quote.</p>
					<h2>Contact
					<div class="border"></div>
					</h2>
					<div class="s-m">
						<a href="" class="fab fa-facebook"></a>
						<a href=""class="fab fa-whatsapp"></a>
						<a href=""class="fab fa-twitter"></a>
					</div>
				</div>
		</div>
	</div>  
	
		   <!--3card-->
		   <div class="card col-sm">
			<div class="card-middle">   
				<div class="top-section">
					<a routerLink="/staffLogin"><img src="../../../../assets/faculty.jpg" alt=""></a>
				<div class="menuicon">
				<span class="s1"></span>
				<span class="s2"></span>
				</div>
				<div class="name">
				Staff<br><span>Manage</span>
				</div>
			</div>
			<div class="info-section">
				<h2>About
				<div class="border"></div>
				</h2>
				<p>Skills to make proper use of analytical tools, that is, the management sciences.</p>
				<h2>Contact
				<div class="border"></div>
				</h2>
				<div class="s-m">
					<a href="" class="fab fa-facebook"></a>
					<a href=""class="fab fa-whatsapp"></a>
					<a href=""class="fab fa-twitter"></a>
				</div>
			</div>
	</div>
	</div> 
	<div class="card col-sm">
			<div class="card-middle">   
				<div class="top-section">
					<a routerLink="/facultyLogin"><img src="../../../../assets/student.jpg" alt=""></a>
				<div class="menuicon">
				<span class="s1"></span>
				<span class="s2"></span>
				</div>
				<div class="name">
				Teacher<br><span>Info</span>
				</div>
			</div>
			<div class="info-section">
				<h2>About
				<div class="border"></div>
				</h2>
				<p>You’ll always affect someone’s life doing what you do. And, that’s what makes it all worth it.</p>
				<h2>Contact
				<div class="border"></div>
				</h2>
				<div class="s-m">
					<a href="" class="fab fa-facebook"></a>
					<a href=""class="fab fa-whatsapp"></a>
					<a href=""class="fab fa-twitter"></a>
				</div>
			</div>
		</div>
		</div>  
		
		   <!--4card-->
		
		   <!--5card-->
		   <div class="card col-sm">
			<div class="card-middle">   
				<div class="top-section">
					<a routerLink="/studentLogin"><img src="../../../../assets/faculty.jpg" alt=""></a>
				<div class="menuicon">
				<span class="s1"></span>
				<span class="s2"></span>
				</div>
				<div class="name">
				Student <br><span>Info</span>
				</div>
			</div>
			<div class="info-section">
				<h2>About
				<div class="border"></div>
				</h2>
				<p>An investment in knowledge pays the best interest.</p>
				<h2>Contact
				<div class="border"></div>
				</h2>
				<div class="s-m">
					<a href="" class="fab fa-facebook"></a>
					<a href=""class="fab fa-whatsapp"></a>
					<a href=""class="fab fa-twitter"></a>
				</div>
			</div>
		</div>
		</div>  
			 
			<!--5card-->
		
			<!--6card-->
		
			<div class="card col-sm">
				<div class="card-middle">   
					<div class="top-section">
						<img src="../../../../assets/faculty.jpg" alt="">
					<div class="menuicon">
						<span class="s1"></span>
						<span class="s2"></span>
					</div>
					<div class="name">
						Parents <br><span>Info</span>
					</div>
				</div>
				<div class="info-section">
					<h2>About
					<div class="border"></div>
					</h2>
					<p>We never know the love of a parent till we become parents ourselves.</p>
					<h2>Contact
					<div class="border"></div>
					</h2>
					<div class="s-m">
						<a href="" class="fab fa-facebook"></a>
						<a href=""class="fab fa-whatsapp"></a>
						<a href=""class="fab fa-twitter"></a>
						
					</div>
				</div>
			</div>
		</div>
		
</div>
</div>

