<!---form--->
<div class="container-1">
  <form action="#">
  <div class="row">
    <div class="col-25">
      <label >Username:</label>
    </div>
    <div class="col-75">
      <input type="text"  name="username" placeholder="Your name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label >Password:</label>
    </div>
    <div class="col-75">
      <input type="text"  name="password" placeholder="Enter your password">
    </div>
  </div>
  
  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
