<div class="row">
<div class="col-2">
<!-- Sidebar -->
<div class="w3-sidebar  w3-bar-block " style=" border-right:1px solid black;" >
  <img src="../../../../../assets/symbol.png" height="180px" max-width="180px">
  <img src="../../../../../assets/dean.jpg" class="w3-circle" style="width:150px;padding:30px;">
  <p>Admin name</p>
  <a href="#"><small style="color:white;margin-left:50px;font-style:underline;"> Edit profile </small></a>
  
 </div>
</div>
<div class="col-10">
<!--Header--->
<div class="header">
	
  <div class="row" >
    <div class="col-sm">
      
    </div>
    <div class="col-sm">
     Add faculty
    </div>
    <div class="col-sm">
	Add staff members

    </div>
	<div class="col-sm">
      View reports 
    </div>
    
    <div class="col-sm">
	Logout
	</div>
  
  </div>
 </div>
 <!---horizontalLine--->
<div class="hline">
</div>
 
 <!--Heading-->
 <div class="heading">
 
 <p >Add staff member</p>
 </div>


 <!--form--->
 <form action="#" id="form">
	 <div class="row">
		  <div class="col-sm">
		  <label>Name:</label><br>
		  <input type="text" name="name" placeholder="Enter your name">
		  <br>
		  <label>Address:</label><br>
		  <input type="text" name="address" placeholder="Enter your address">
		  <br>
		  <label>Qualification:</label><br>
		  <input type="text" name="qualification" >
		  <br>
		  <label>Joining Date:</label><br>
		  <input type="date" name="date" >
		  <br>
		  <label>Salary:</label><br>
		  <input type="text" name="salary" >
		  <br>
		  </div>
		  
		  
		  <div class="col-sm" id="rightForm">
		  <label>Department:</label><br>
		  <input type="department" name="name" >
		  <br>
		  <label>Job Designation:</label><br>
		  <input type="job" name="address" >
		  <br>
		  
		  
		  </div>
		  
	</div>
	<div style="margin-top:60px;margin-bottom:30px;margin-left:300px;float:center;">
		  <input id="submit" type="submit" value="Submit">
	</div>

</form> 
 
</div>
</div>
<!---footer---->
<footer id="Footer">
  <p>Copyright &copy; 2018
  
  <a href="#"><img class="icon" src="../../../../../assets/twitter.png"></a>
  <a href="#"><img class="icon" src="../../../../../assets/insta.png"></a>
  <a href="#"><img  class="icon" src="../../../../../assets/facebook.png"></a>
  
  </p>
  
</footer>
 
 
 
 
 
 
 


