<div class="row">
  <div class="col-2">
  <!-- Sidebar -->
  <div class="w3-sidebar  w3-bar-block " style=" border-right:1px solid black;" >
    <img src="../../../../../assets/symbol.png" height="180px" max-width="180px">
    <img src="../../../../../assets/staff.jpg" class="w3-circle" style="width:150px;padding:30px;">
    <p>Staff name</p>
    <a href="#"><small style="color:white;margin-left:50px;font-style:underline;"> Edit profile </small></a>
    
   </div>
  </div>
  <div class="col-10">
  <!--Header--->
  <div class="header">
    
    <div class="row" >
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
       Add student
      </div>
      <div class="col-sm">
    Edit student details
  
      </div>
    <div class="col-sm">
       Fees
      </div>
      
      <div class="col-sm">
    Logout
    </div>
    
    </div>
   </div>
   <!---horizontalLine--->
  <div class="hline">
  </div>
   
   <!--Heading-->
   <div class="heading">
   <p >Add Student</p>
   </div>
   <!--form--->
 <form action="#" id="form">
  <div class="row">
     <div class="col-sm">
     <label>Name:</label><br>
     <input type="text" name="name" placeholder="Enter your name">
     <br>
     <label>Address:</label><br>
     <input type="text" name="address" placeholder="Enter your address">
     <br>
     <label>Age:</label><br>
     <input type="text" name="age" >
     <br>
     <label>Joining Date:</label><br>
     <input type="date" name="date" >
     <br>
     <label>Class:</label><br>
     <input type="text" name="class" >
     <br>
     </div>
     
     
     <div class="col-sm" id="rightForm">
     <label>Parent's name:</label><br>
     <input type="text" name="parentName" >
     <br>
     <label>Parent's occupation:</label><br>
     <input type="text" name="parentOccupation" >
     <br>
     
     
     </div>
     
 </div>
 <div style="margin-top:60px;margin-bottom:30px;margin-left:300px;float:center;">
     <input id="submit" type="submit" value="Submit">
 </div>

</form> 
  
  
   
   
  </div>
  </div>
  <!---footer---->
  <footer id="Footer">
    <p>Copyright &copy; 2018
    
    <a href="#"><img class="icon" src="../../../../../assets/twitter.png"></a>
    <a href="#"><img class="icon" src="../../../../../assets/insta.png"></a>
    <a href="#"><img  class="icon" src="../../../../../assets/facebook.png"></a>
    
    </p>
    
  </footer>
   
   
   
   
   
   
   
  
  
  