<div class="main">
<div class="container">
	<div>
	<img src="../../../../../assets/symbol.png" height="180px" width="180" style="display:block;margin-left:auto;margin-right:auto;">
  </div>
  <p>Login as : Principal</p>
	<!---form--->
<div class="container-1">
    <form #submit="ngForm" (ngSubmit)="onSubmit(submit)">
        <div class="row">
            <div class="col-25">
              <label >Username:</label>
            </div>
            <div class="col-75">
                <input type="text"  name="username" [(ngModel)]="username" placeholder="username" required>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label >Password:</label>
            </div>
            <div class="col-75">
              <input type="password"  name="password" [(ngModel)]="password" placeholder="Enter your password" required>
            </div>
          </div>

          <div class="row">
            <input type="submit" [disabled]="!submit.form.valid" value="Login">
          </div>


  </form>

</div>
</div>

